.myorders-container{
  .noDataAv {
    width: 100%;
    text-align: left;
  }
  .paymentBox {
    width: 100%;
   
   
  }

  button:disabled,
button[disabled]{

  background-color: rgb(236, 127, 127);
}

  .addRemoveBtn {
    text-align: right;
    top: 28px;
    position: relative;
    z-index: 9;
}
  .totalPayment {
    width: 100%;
    .totalPaymentInner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 14px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }

  .iconButton {
    background: transparent;
    border: 0px;
    img {
      width: 70%;
    }
  }
 
  .itemsRow {
    align-items: center;
  }
    .myorder-heading{
        font-size: 17px;
        font-weight: 600;
        // margin-top: 13px;
    }

    .tableHaed {
      padding: 0px;
      tbody {
        tr {
          td {
            font-size: 10px;
            .red-text {
              color: red;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .noDataFound {
      width: 100%;
      text-align: center;
      padding: 60px 0;
  }

    .myorders-header{
        span{
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
        }

       .shadowbox{
        border-radius: 4px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
        border: solid 2px #7d7d7d;
        padding: 35px 20px;
       }

       .inputBox{
         margin-top: -15px !important;
       }
        
        // .inputBox{
        //     margin-bottom: 0px;
        //     margin-right: 12px;

        //     input, select{
        //         font-size: 13px;
        //     }
        // }
    }



    .create_btn {
       
        background-color: red;
        color: #fff;
        padding: 7px 30px;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 15px;
        font-weight: bold;
        border-radius: 4px;
        border: none;

        &:hover {
            text-decoration: none;
            color:#fff;
        }
    }

    .create_btn_disabled {
       
        background-color: #ff6b6b;;
        color: #fff;
        padding: 7px 30px;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 15px;
        font-weight: bold;
        border-radius: 4px;
        border: none;

        &:hover {
            text-decoration: none;
            color:#fff;
        }
    }

    .create_btn_small {
       
        background-color: red;
        color: #fff;
        padding: 5px 12px;
        font-size: 12px;
        text-transform: uppercase;
        margin-left: 15px;
        font-weight: bold;
        border-radius: 4px;
        border: none;

        &:hover {
            text-decoration: none;
            color:#fff;
        }
    }
    
    .cancel_btn {
        border: none;
        background-color: #000;
        color: #fff;
        padding: 7px 30px;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 15px;
        font-weight: bold;
        border-radius: 4px;

        &:hover {
            text-decoration: none;
            color:#fff;
        }
    }

}
    
.place-order-step-box{
  .shiping-myorder-details{
    p{
      font-size: 13px;
    color: #797979;
    font-weight: 500;
    }
  }

    .Available-Credit-THB-2047 {
      font-size: 14.5px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #828282;
    }
   
    .Available-Credit-THB-2047 .text-style-1 {
      font-weight: bold;
      color: #000000;
    }

  
    
    .Rectangle-2231 {
       width: 100%;
      // height: 50px;
     // align-items: center;
      flex-grow: 0;
      // margin: 4px 0 0 11px;
      // padding: 8.3px 8px 7.7px 12.6px;
      border: solid 1px #f1f1f1;
      background-color: #a17979;
  
      span{
        font-size: 12px;
    font-weight: 500;
    max-width: 185px;
    line-height: 30px;
      }
    }
  
    .Rectangle-2232 {
      height: auto;
      flex-grow: 0;
      border: solid 1px #f1f1f1;
      background-color: #ffffff;
  
     
  
      .image-1 {
        width: 60px;
        height: 55.7px;
        flex-grow: 0;
        margin: 0 0 0.4px;
      }
  
      span{
        font-size: 10px !important;
        max-width: 100% !important;
      }
    }
  
    .Rectangle-2233 {
      height: auto;
      flex-grow: 0;
      background-color: rgba(255, 0, 0, 0.2);
  
      .error-text{
        font-size: 12px;
      font-weight: 600;
      }
    }
  
    .Rectangle-108 {
      height: auto;
      flex-grow: 0;
      background-color: #f5f6f9;
  
      .lighttext{
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.07;
        letter-spacing: normal;
        text-align: left;
        color: #797979;
        
      }
  
      .darktext{
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.07;
        letter-spacing: normal;
        text-align: right;
        color: #454545;
      }
    }
  
    .Rectangle-10887 {
      height: 45px;
      flex-grow: 0;
      background-color: #f5f6f9;
      border-top: 1px solid #c1c1c1;
  
      .lighttext{
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.07;
        letter-spacing: normal;
        text-align: left;
        color: #797979;
      }
  
      .darktext{
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.07;
        letter-spacing: normal;
        text-align: right;
        color: #454545;
      }
    }
  }

  .autoSearch {
    label {
      // font-size: 13px;
      font-weight: 400;
      color: #000;
      &.Mui-focused {
        color: #000;
      }
  }
  }

