 @import "../../assets/scss/colors.scss";

 .shiptocreation {
    .sec_details {
        margin-top: 5px !important;
    }
    .detail_title,.number  {
        font-size: 18px !important;
    }

    h4 {
        font-size: 18px !important;
        margin-bottom: 0px !important;
    }

    .focus {
        margin-left: 0px;
    }

    span {
       line-height: 30px;
    }
 }

.ship_about_tab_section {
    padding: 20px 15px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #E6E6E6;
    background: #fff;
    margin: 17px 15px;
    border-radius: 20px;

    h3 {
        color:#000;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .customer_tier {
        text-align: right;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 22px;

        span {
            font-weight: lighter;
        }
    }

    .ship_summary {
        background-color: #154986;
        color: #fff;
        border-radius: 10px;
        padding: 15px;
        text-align: center;

        h5 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
            letter-spacing: 0.7px;
            margin-bottom: 0;
        }

    }

    .total_summary {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

        p {
         margin: 0px;
         color: #929292;
         letter-spacing: 0.2px;
         font-size: 14px;
         text-transform: uppercase;
        }

        h4 {
          font-size: 28px;
          margin-top: 5px;
        }
    }

    .shipto_update {
        border-top: 1px solid #ccc;
        padding-top: 20px;
        width: 100%;

        span {
            color:#000;
            font-weight: 600;
        }

        p {
            color: #929292;
        }
    }

    .market_data {
        text-align: center;
        color: $white-color;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;

        p {
            margin: 0px;
        }
    }
 
    .cement_color {
       background-color: $cofi-color;
    }

    .thai_color{
        background-color: $maroon-color;
    }

    .asia_color {
        background-color: $orange-color;  
    }

    rect {
        fill:#154986;
    }

    .retailer_name {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .retailer-mail, .retailer-call {
        font-size: 18px;
        margin-bottom: 15px;
        a {
            color: #929292;
        }
         i {
            color :$maroon-color;
            font-size: 20px; 
            margin-right: 10px;
         }
    }

    .user_img {
        i {
            font-size: 24px;
            border: 2px solid #eee;
            justify-content: center;
            display: flex;
            align-items: center;
            color: #929;
            padding: 5px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }
    }

    .user_name {
        font-weight: 600;
        font-size: 18px;
    }

    .ship_status {
        justify-content: end;
        align-items: flex-end;

    }

    .pending {
        a {
            color:$orange-color;
            font-weight: 600;
            font-size: 18px;
        }
    }

}