.autoCompleteWrap{
    padding: 11px !important;
}
.autoComplete{
    .MuiOutlinedInput-input {
        padding: 5px 4px !important;
    }

    // .MuiStandardInput-input {
    //     padding: 5px 4px !important;
    // }
    
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
    border: 1px solid #ccc !important;
}

// .data_form {
//     padding: 0px;
// }