.MuiStepLabel-labelContainer {
    .MuiStepLabel-active {
        .shopping_cart_icon {
            color:red !important;
            font-weight: 600;
        }
    }
}

.buttonGroup { 
    margin-bottom: 100px;
}