.MuiRadio-colorPrimary.Mui-checked {
    color: #23cf8f !important;
}

.MuiRadio-root {
    color: #23cf8f !important;
}

.css-ahj2mt-MuiTypography-root {
    font-weight: 600 !important;
    font-size: 14px !important;
}

.statusDef {
    padding: 0 0 13px 0;
    color: red;
    font-size: 13px;
}