.makepayment_box_container{
    .smallText{
        font-size: 12px ;
        color: #fff !important;
    }

    .bigText{
        font-size: 16px;
        font-weight: 600 !important;
        color: #fff !important;
    }
}