.redcard-dealer-container{
    .row{
        background-color: #ff0000;

        p{
            color: #fff;
            font-size: 14px;

        }

        img{
            width: 75px;
    
            margin: 11px;
            border-radius: 4px;
        }
    }
}