.MuiOutlinedInput-input {
    padding: 8.5px 14px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
    border-bottom: 1px solid #ccc !important;
}

.data_form {
    padding: 0px;
}