.allocate-history-childbox{
    margin-bottom: 18px;

    .big-label{
       margin-bottom: 1px;
       color: #a9aaaf;
       font-size: 12px;
       text-transform: uppercase;
    }

    .small-label{
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
    }
}