.case-report-childbox-container{
    .form_section {
        padding: 4px;

        .inputBox{
            margin-bottom: 0px;

            label{
                font-size: 12px;
                margin-bottom: 0px;
            }
        }

    }
}