.HomeContainer {
 position: relative;
}


.languageselector {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 999;
    right: 0%;
    -ms-transform: translate(-38%, 0%);
    transform: translate(-38%, 0%);
    margin-top: 3px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    background-color: red;

    select {
        border:0px;
        background-color: transparent;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-weight: 500;
        color: #fff !important;

        &:focus {
            outline: 0px;
        }

        option {
            color: #000;
        }
    }
}

label {
    display: flex !important;
}