.dashboard-container {
    margin-left: 15px;
    margin-bottom: 40px;

    .chart-heading{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        margin-left: 50px;
    }
   
   
    .dash-heading-text{
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #454545;
        margin-bottom: 4px;
        margin-left: 15px;
    }

    .dash-small-heading{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #454545;
        margin-left: 15px;
    }

    .dash-banner-image{
        width: 100%;
        height: 398px;
    }

    .Rectangle-2221 {
        min-height: 90px;
        // margin: 19px 8.3px 15px 2px;
        padding: 13.6px 15px 13.6px 15px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #fff;
        text-align: center;

        p {
            line-height: 28px;
            margin-bottom: 0px;
        }
      }

      .Rectangle-2223 {
        height: 90px;
        // margin: 19px 24px 15px 22px;
        padding: 12.1px 44.1px 8.8px 44px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        text-align: center;
      }

      .Rectangle-2224 {
        height: 90px;
        // margin: 19px 0 15px 24px;
        padding: 11.1px 32px 13px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        text-align: center;
      }

      .Rectangle-107 {
        height: 90px;
        // margin: 16px 8.3px 31px 2px;
        padding: 13.2px 31.5px 10.7px 32px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        text-align: center;
      }

      .Rectangle-2222 {
        height: 90px;
        // margin: 16px 24px 31px 22px;
        padding: 11.7px 31.5px 9.2px 32px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        text-align: center;
      }

      .Rectangle-2225 {
        height: 91px;
        // margin: 15px 0 31px 24px;
        padding: 9.8px 32px 15px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        text-align: center;
      }

    .loyaltyPointsImg{
        width: 54.8px;
        height: 40.6px;
        margin: 0 95.2px 4.7px 95px;
    }

    .financeImg{
        width: 47.4px;
        height: 39px;
        margin: 0 102.1px 6px 102px;
    }

    .performanceImg{
        width: 64.3px;
        height: 40.6px;
        margin: 0 91.2px 3px 90px;
    }

    .trackShipmentImg{
        width: 54.8px;
        height: 41.2px;
        margin: 0 95.2px 2.7px 95px;
    }
    .customerStatementReportImg{
        width: 54.8px;
        height: 41.2px;
        margin: 0 95.2px 2.7px 95px;
    }

    .createShipmentImg{
        width: 63.5px;
        height: 40.6px;
        margin: 0 78.4px 6px 79px;
    }


    .receiptReportImg{
        width: 70.2px;
        height: 40.6px;
        margin: 0 93.4px 3px 50px;
    }
    .salesOrderReportImg{
        width: 45.2px;
        height: 45.6px;
        margin: 0 93.4px 3px 75px;
    }
    .placeOrderImg{
        width: 40.2px;
        height: 40.6px;
        margin: 0 93.4px 3px 92px;
    }

    
        .first-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }

        .second-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }

        .third-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }

        .fourth-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }

        .fifth-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }

        .sixth-text{
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #454545;
        }
    

        .shipment-status-heading{
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            margin-bottom: 5px;
        }

        .shipment-status-message{
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #828282;
        }

        .small-text{
            font-size: 11px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            color: #727272;
            margin-bottom: 3px !important;
        }

        .rect-one{
            border-radius: 5px;
        }

        .big-text{
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            margin-bottom: 0px !important;
        }

        .avatar-text{
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
        }


        .Rectangle-2229 {
            padding: 0px 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            background-color: #ed1c24;
            cursor: pointer;
          }

        .credit-text{
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            display: block;
        }

        .redBar{
            background-color: #ed1c24;
            height: 8px;
            width: 80%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .greenBar{
            background-color: #23cf8f;
            height: 8px;
            width: 20%;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pay-now{
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            color: #ffffff;
        }

        .green-color{
            color: #23cf8f !important;
        }

        .red-color{
            color: #ed1c24 !important;
        }

        .thb-text{
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            display: block;
        }






.timeline{list-style-type:none;display:flex;align-items:center;justify-content:center;margin-bottom:0px !important;}
.timeline li{transition:all 200ms ease-in;flex:4;position:relative;align-items:flex-start!important;margin-right: 0px !important;}
.timestamp{margin-bottom:0px !important;padding:3px 0px 20px 10px;display:flex;flex-direction:column;font-weight:100;position:relative;height: 60px;line-height: 1.5;}


.timeline li.complete:last-child:after{font-family:FontAwesome;content:"";color:#8fbb13;width:25px;height:25px;background-color:#fff;border:1px solid #fff;border-radius:25px;position:absolute;top:-16px;right:-1px;transition:all 200ms ease-in;line-height:25px;text-align:center;}
.timeline:before{background: #fff;}
.status{padding:30px 30px 0 0;justify-content:center;border-top:2px solid #D6DCE0;position:relative;transition:all 200ms ease-in;}
.status h4{font-weight:600;}
.status:before{content:"";width:25px;height:25px;background-color:#cdcdcd;border-radius:25px;border:1px solid #cdcdcd;position:absolute;top:-15px;left:0;transition:all 200ms ease-in;}
///.timeline li:last-child .status:after{content:"";width:25px;height:25px;background-color:#cdcdcd;border-radius:25px;border:1px solid #cdcdcd;position:absolute;top:-15px;right:0;transition:all 200ms ease-in;}
.timeline li.complete .status{border-top:2px solid #23cf8f;}
.timeline li.complete .status:before{font-family:FontAwesome;content:"\f00c";color:#fff;background-color:#23cf8f;border:none;background-position:center center;transition:all 200ms ease-in;line-height:25px;text-align:center;}
.timeline li.complete:last-child .status:after{font-family:FontAwesome;color:#fff;background-color:#8FBB13;border:none;background-position:center center;transition:all 200ms ease-in;line-height:25px;text-align:center;}
.timeline li.complete .status h4{color:#66DC71;}
.status-first span:nth-child(1){font-size:13px;font-weight:600}
.status-first span:nth-child(2){color:#7F7F7F;}
.status-third{color:#7F7F7F;}
.status-fourth{color:#BEBEBE;}
.timestamp .date{color:#7F7F7F;}
.timestamp .author{color:#000;font-size:13px;font-weight:600}
.timeline li:last-child .status{border: 0;}
.timeline li.progress-status {
    line-height: 0;
}
    
}

.report_table {
    h6 {
        font-size: 13px !important;

        
    }

   
}


.react-chatbot-kit-chat-container {
    width: 300px !important; 
    border: 2px solid #eee; 

    .react-chatbot-kit-chat-bot-message {
       margin-left: 0px !important;  
    }

    .react-chatbot-kit-chat-inner-container {
        height: 369px !important;
    }

    .react-chatbot-kit-chat-message-container {
        height: 294px !important;
    }
}

.myChat {
    position: absolute;
    right: 20px;
    z-index: 9999;
    bottom: 0px;
}


@media (max-width:1024px) { 
    .content-wrapper {
        position: absolute !important; 
        top: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        right: 0 !important;
        left: 0 !important;
    }
}

