.total-net-price{
    .total-light-text{
        text-transform: uppercase;
        font-weight: 600;
        color: darkgrey;
        font-size: 13px;
    }

    .total-dark-text{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
    }

    .borderLine{
        border-bottom: 1px solid lightgray;
    }
}